#console {
  --width: calc(var(--base-width) * 0.15);
  --height: calc(var(--base-width) * 0.06);
  --depth: calc(var(--base-width) * 0.08);
  --z-translation: calc(var(--base-width) * -0.06);

  position: absolute;
  bottom: 100%;
  left: 80%;
  transform: translateZ(var(--z-translation));
}

#console .face.front {
  --lightness: 50%;
}

#console .face.top {
  --lightness: 70%;
}

#console .face.side {
  --lightness: 40%;
}
