#crt {
  --width: calc(var(--base-width) * 0.38);
  --height: calc(var(--base-width) * 0.35);
  --depth: calc(var(--base-width) * 0.3);
  --z-translation: calc(var(--base-width) * -0.06);

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateZ(var(--z-translation));
}

#crt .face.front {
  --lightness: 40%;
}

#crt .face.top {
  --lightness: 60%;
}
