#desk {
  --desk-width: 1200px;
  --desk-height: 50px;
  --desk-depth: 500px;
  position: relative;
  width: var(--desk-width);
  height: var(--desk-height);
  transform: translateY(300px);
}

#desk .face {
  --lightness: 0%;

  border: 1px solid black;
  position: absolute;
  width: var(--desk-width);
  background-color: hsl(0, 0%, var(--lightness));
}

#desk .face.front {
  --lightness: 50%;
  height: var(--desk-height);
}

#desk .face.top {
  --lightness: 70%;
  height: var(--desk-depth);
  bottom: 100%;
  transform-origin: bottom;
  transform: rotateX(90deg);
}
