#desk {
  --width: var(--base-width);
  --height: calc(var(--base-width) * 0.05);
  --depth: calc(var(--base-width) * 0.3);

  position: relative;
  top: 80%;
}

#desk .face.front {
  --lightness: 50%;
}

#desk .face.top {
  --lightness: 70%;
}
