* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --window-max-width: 1200px;
  --base-width: min(100vw, var(--window-max-width));
}

#container {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

#scene {
  perspective: 900px;
  perspective-origin: 50% 25%;
  aspect-ratio: 4/3;
}

body {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6) 0%,
      transparent 20%,
      transparent 80%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #f5f5f5;
}
