* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
  min-height: 100vh;
  border: 1px solid black;
  margin-inline: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene {
  /* position: relative; */
  perspective: 900px;
  perspective-origin: 50% 20%;
  aspect-ratio: 4/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#desk,
#crt {
  transform-style: preserve-3d;
}
