/* .console {
  position: relative;
  height: 700px;
  width: 700px;
  margin-inline: auto;
  perspective: 25rem;
  border: 2px solid black;
}

.screen {
  position: absolute;
  height: 512px;
  width: 512px;
  background-color: black;
} */
